<section class="directions container">
  <div class="directions__screen-wrapper">
    <div class="directions__screen">
      {% for name, params in directions %}
        <a href="#">
          <div class="directions__image" data-direction="{{- name -}}" style="z-index: {{- loop.revindex -}}; background-image: url(/img/directions/{{- name -}}_preview.jpg);"></div>
        </a>
      {% endfor %}
    </div>
  </div>
  <div class="directions__container">
    {% for name, params in directions %}
      <div class="directions__wrapper" data-title="{{- name -}}">
        <div class="directions__screen directions__screen_mobile">
          <a href="#">
            <div class="directions__image" data-direction="{{- name -}}" style="z-index: {{- loop.revindex -}}; background-image: url(/img/directions/{{- name -}}_preview.jpg);"></div>
          </a>
        </div>
        <div class="directions__content" >
          <p class="directions__age">
            {{- params.age -}}
          </p>
          <h3 class="directions__title">
            {{ params.full_name }}
          </h3>
          <a href="#" class="directions__link button button_second" style="border-color: var(--color-{{- name -}}-accent-contrast)">
            <span class="button__ripple">
              <span></span>
            </span>
            <span class="button__text">
              <span data-text="Подробнее">Подробнее</span>
            </span>
          </a>
        </div>

      </div>

    {% endfor %}
  </div>
</section>
