<div class="direction-content container">
  <div class="direction-content__nav-wrapper">
    <div class="direction-content__nav">
      <h2 class="direction-content__anchore direction-content__anchore_active">КАК</h2>
      <h2 class="direction-content__anchore">ЗАЧЕМ</h2>
      <h2 class="direction-content__anchore">ПОЧЕМУ</h2>
    </div>
  </div>
  <div class="direction-content__wrapper">
    <div class="direction-content__slide">
      {%include 'direction-what.njk'%}
    </div>
    <div class="direction-content__slide">
      {%include 'direction-percents.njk'%}
    </div>
    <div class="direction-content__slide">
      {%include 'direction-numbers.njk'%}
    </div>
    <div class="direction-content__slide">
      {%include 'direction-why.njk'%}
    </div>
  </div>

</div>