<section class="section" id='steps'>
  <h2 class="section__header text_h2">{{ section.header }}</h2>
  <div class="section__content">
    <div class="direction-what__container">
      {% for point in section.list %}
        <div class="direction-what__block">
          <div class="direction-what__icon" >
            <svg aria-hidden="true" focusable="false" width="60" height="60" style="color: {{ colors.accent_contrast }}" >
              <use href="/img/icons.svg#{{ point.icon }}"/>
            </svg>
          </div>
          <h3 class="direction-what__header text_h3">
            {{ point.header | striptags(true) | escape | nl2br }}
          </h3>
          <p class="direction-what__text text_main">
            {{ point.text | striptags(true) | escape | nl2br }}
          </p>
        </div>
      {% endfor %}
    </div>
  </div>
</section>