<div class="direction-percents">
  <div class="direction-percents__container">
    <div class="direction-percents__block">
      <div class="direction-percents__title">
        <span class="direction-percents__title-text" style="color: var(--color-{{ direct }}-accent-contrast);">на</span>
        <span class="direction-percents__title-number" style="background-image: var(--color-{{ direct }}-linear);">14</span>
        <span class="direction-percents__title-text" style="color: var(--color-{{ direct }}-accent-contrast);">%</span>
      </div>
      <p class="direction-percents__discription">
        повышение успеваемость в школе
      </p>
    </div>
    <div class="direction-percents__block">
      <div class="direction-percents__title">
        <span class="direction-percents__title-text" style="color: var(--color-{{ direct }}-accent-contrast);">на</span>
        <span class="direction-percents__title-number" style="background-image: var(--color-{{ direct }}-linear);">14</span>
        <span class="direction-percents__title-text" style="color: var(--color-{{ direct }}-accent-contrast);">%</span>
      </div>
      <p class="direction-percents__discription">
        повышение успеваемость в школе
      </p>
    </div>
    <div class="direction-percents__block">
      <div class="direction-percents__title">
        <span class="direction-percents__title-text" style="color: var(--color-{{ direct }}-accent-contrast);">на</span>
        <span class="direction-percents__title-number" style="background-image: var(--color-{{ direct }}-linear);">14</span>
        <span class="direction-percents__title-text" style="color: var(--color-{{ direct }}-accent-contrast);">%</span>
      </div>
      <p class="direction-percents__discription">
        повышение успеваемость в школе
      </p>
    </div>
    <div class="direction-percents__block">
      <div class="direction-percents__title">
        <span class="direction-percents__title-text" style="color: var(--color-{{ direct }}-accent-contrast);">на</span>
        <span class="direction-percents__title-number" style="background-image: var(--color-{{ direct }}-linear);">14</span>
        <span class="direction-percents__title-text" style="color: var(--color-{{ direct }}-accent-contrast);">%</span>
      </div>
      <p class="direction-percents__discription">
        повышение успеваемость в школе
      </p>
    </div>
  </div>
</div>