<div class="direction-numbers">
  <div class="direction-numbers__container">
    <div class="direction-numbers__block">
      <span class="direction-numbers__title" style="background-image: var(--color-{{ direct }}-linear);">1</span>
      <h3 class="direction-numbers__header">
        абакус
      </h3>
      <p class="direction-numbers__discription">
          Учимся правильной технике выполнения счета
          и осваиваем все арифметичексие операции
          на абакусе.
          Развиваем мелкую моторикау, стимулируем развитие межполушарных связей
      </p>
    </div>
    <div class="direction-numbers__block">
      <span class="direction-numbers__title" style="background-image: var(--color-{{ direct }}-linear);">2</span>
      <h3 class="direction-numbers__header">
        в уме
      </h3>
      <p class="direction-numbers__discription">
        Вычисляем арифметические операци в уме. Основой ментального счета считается визуализация ментальной карты и операций бусинами в уме без представления цифр
      </p>
    </div>
    <div class="direction-numbers__block">
      <span class="direction-numbers__title" style="background-image: var(--color-{{ direct }}-linear);">2</span>
      <h3 class="direction-numbers__header">
        в уме
      </h3>
      <p class="direction-numbers__discription">
        Вычисляем арифметические операци в уме. Основой ментального счета считается визуализация ментальной карты и операций бусинами в уме без представления цифр
      </p>
    </div>
    <div class="direction-numbers__block">
      <span class="direction-numbers__title" style="background-image: var(--color-{{ direct }}-linear);">2</span>
      <h3 class="direction-numbers__header">
        в уме
      </h3>
      <p class="direction-numbers__discription">
        Вычисляем арифметические операци в уме. Основой ментального счета считается визуализация ментальной карты и операций бусинами в уме без представления цифр
      </p>
    </div>
  </div>
</div>