<div class="direction-starter" style='background-color: var(--color-{{ direct }}-accent)'>
  <div class="direction_starter__container">
    <h1 class="direction-starter__header">{{ directions[direct].name }}</h1>
    <p class="direction-starter__discrip">{{ directions[direct].discription }}</p>
    <button class="direction-starter__button button button_connect">
      <span class="button__ripple">
        <span></span>
      </span>
      <span class="button__text">
        <span data-text="Связаться">Связаться</span>
      </span>
    </button>
  </div>
</div>
