<div class="direction-what">
  <div class="direction-what__container">
    <div class="direction-what__block">
      <div class="direction-what__icon">
        <svg aria-hidden="true" focusable="false" width="60" height="60">
          <use href="/img/icons.svg#speed"/>
        </svg>
      </div>
      <h3 class="direction-what__title">
        Скорость
      </h3>
      <p class="direction-what__text">
        Упражнения на увеличение скорости чтения
      </p>
    </div>
    <div class="direction-what__block">
      <div class="direction-what__icon">
        <svg aria-hidden="true" focusable="false" width="60" height="60">
          <use href="/img/icons.svg#speed"/>
        </svg>
      </div>
      <h3 class="direction-what__title">
        Скорость
      </h3>
      <p class="direction-what__text">
        Упражнения на увеличение скорости чтения
      </p>
    </div>
    <div class="direction-what__block">
      <div class="direction-what__icon">
        <svg aria-hidden="true" focusable="false" width="60" height="60">
          <use href="/img/icons.svg#speed"/>
        </svg>
      </div>
      <h3 class="direction-what__title">
        Скорость
      </h3>
      <p class="direction-what__text">
        Упражнения на увеличение скорости чтения
      </p>
    </div>
    <div class="direction-what__block">
      <div class="direction-what__icon">
        <svg aria-hidden="true" focusable="false" width="60" height="60">
          <use href="/img/icons.svg#speed"/>
        </svg>
      </div>
      <h3 class="direction-what__title">
        Скорость
      </h3>
      <p class="direction-what__text">
        Упражнения на увеличение скорости чтения
      </p>
    </div>
    <div class="direction-what__block">
      <div class="direction-what__icon">
        <svg aria-hidden="true" focusable="false" width="60" height="60">
          <use href="/img/icons.svg#speed"/>
        </svg>
      </div>
      <h3 class="direction-what__title">
        Скорость
      </h3>
      <p class="direction-what__text">
        Упражнения на увеличение скорости чтения
      </p>
    </div>
    <div class="direction-what__block">
      <div class="direction-what__icon">
        <svg aria-hidden="true" focusable="false" width="60" height="60">
          <use href="/img/icons.svg#speed"/>
        </svg>
      </div>
      <h3 class="direction-what__title">
        Скорость
      </h3>
      <p class="direction-what__text">
        Упражнения на увеличение скорости чтения
      </p>
    </div>
  </div>
</div>