<section class="section experience" id='experience'>
  <h2 class="section__header text_h2">{{ section.header }}</h2>
  <div class="section__content">
    <div class="direction-numbers__container">
      {% from 'macros/phase.njk' import phase %}
      {% for stage in section.list %}
        {{ phase(
					number=stage.number,
					header=stage.header,
          discription=stage.text,
          gradient=colors.gradient
				) }}
      {% endfor %}
    </div>
  </div>
</section>