<section class="directions container">
  <h2 class="directions__header">
    8 направлений для всестороннего
    развития ребенка
  </h2>
  <div class="directions__wrapper">
    <div class="directions__content">
      <p class="directions__age">
        4 - 7 лет
      </p>
      <h3 class="directions__title">
        Обучение чтению <br> по методике Словолодочки
      </h3>
      <a href="#" class="directions__link button button_second">Подробнее</a>
    </div>
    <div class="directions__screen"></div>
  </div>
</section>
