<footer class="footer container" style='background-color: var({{ background }})'>
  <div class="footer__title">
    Репетитор Михайленко Юлия
  </div>
  <div class="footer__map">
    <div class="footer__about">
      <a href="#">
        <p class="footer__link">Обо мне</p>
      </a>
    </div>
    <div class="footer__columns">
      <div class="footer__side">
        <a href="#">
          <p class="footer__link">Обучение чтению по методике Словолодочки</p>
        </a>
        <a href="#">
          <p class="footer__link">Скорочтение</p>
        </a>
        <a href="#">
          <p class="footer__link">Ментальная арифметика</p>
        </a>
        <a href="#">
          <p class="footer__link">Олимпиадная математика</p>
        </a>
      </div>
      <div class="footer__side">
        <a href="#">
          <p class="footer__link">Развитие позновательных способностей</p>
        </a>
        <a href="#">
          <p class="footer__link">Подготовка к школе</p>
        </a>
        <a href="#">
          <p class="footer__link">Начальные классы</p>
        </a>
        <a href="#">
          <p class="footer__link">5 - 6 класс</p>
        </a>
      </div>
    </div>
  </div>
  <div class="footer__contacts">
    <p class="footer__link">Контакты</p>
    <a href="#">
      <p class="footer__link">+7 (915) 355-64-31</p>
    </a>
  </div>
</footer>