<section class="hello container">
  <div class="hello__photo">
    <div class="hello__arch">
      <picture class="hello__img">
        <img src="/img/photos/pic_main_page.webp" alt="Фотография Юлии">
      </picture>
      <div class="hello__work-time die text_small">25 лет стажа работы</div>
      <div class="hello__offline die text_small">оффлайн в Щелково</div>
      <div class="hello__online die text_small">онлайн занятия</div>
    </div>

  </div>

  <div class="hello__content">
    <h1 class="hello__h1 text_h1">
    Здравствуйте, меня зовут
    <span class="highlight">Юлия</span>,<br>
    и я могу стать вашим
    <span class="highlight">репетитором</span>
    </h1>
    <p class="hello__discription text_main">
    Занимаюсь с&nbsp;детьми от&nbsp;4&nbsp;до&nbsp;12&nbsp;лет по&nbsp;различным&nbsp;направлениям.
    <span class="hello__mobile-hidden">
        <br> Каждый сможет выбрать удобный для&nbsp;себя формат:
        <br> онлайн занятия или&nbsp;оффлайн в&nbsp;Щелково, пл.&nbsp;Ленина
    </span>
    </p>
    {% from 'macros/animated-button.njk' import animatedButton %}
    <a href='#form' class="hello__link">
      {{ animatedButton(
        text='Связаться'
      ) }}
    </a>

  </div>

</section>