<section class="hello container">
  <div class="hello__photo">
    <div class="hello__arch">
      <div class="hello__work-time die">25 лет стаж работы</div>
      <div class="hello__online die">онлайн обучение</div>
      <a href="tel: +79153556431" class="hello__phone">
        <div class="die">+7 (915) 355 - 64 - 31</div>
      </a>
    </div>

  </div>

  <div class="hello__content">
    <h1 class="hello__h1">
    Здравствуйте, меня зовут
    <span class="highlight">Юлия</span>,<br>
    и я могу стать вашим
    <span class="highlight">репетитором</span>
    </h1>
    <p class="hello__discription">
    Занимаюсь с&nbsp;детьми от&nbsp;4&nbsp;до&nbsp;12&nbsp;лет по&nbsp;различным
    направлениям. <span class="hello__mobile-hidden"> Для&nbsp;изучения нового не&nbsp;придется даже
    выходить из&nbsp;дома -&nbsp;занятия проходят в&nbsp;онлайн&nbsp;формате </span>
    </p>
    <a href="/" class="hello__button button button_connect">Связаться</a>
  </div>

</section>
