<section class="request">
  <form action="mailto:nikitagafon@yandex.ru" enctype="text/plain">
    <label>
      Имя родителя
      <input type="text" name="parent" id="parent" placeholder="Анастасия Андреевна" required autofocus>
    </label>
    <label>
      Имя ребенка
      <input type="text" name="children" id="children" placeholder="Ксения" required>
    </label>
    <label>
      Телефон
      <input type="phone" name="parent" id="parent" placeholder="Анастасия Андреевна" required>
    </label>
    <fieldset>
      <legend>Направления</legend>
      <label>
        Ментальная арифметика
        <input type="checkbox" name="direction" value="mental">
      </label>
      <label>
        Начальная школа
        <input type="checkbox" name="direction" value="primary">
      </label>
    </fieldset>
    <fieldset>
      <legend>Способ связи</legend>
      <label>
        telegram
        <input type="checkbox" name="connect" value="telegram">
      </label>
      <label>
        whatsup
        <input type="checkbox" name="connect" value="whatsup">
      </label>
      <label>
        sms
        <input type="checkbox" name="connect" value="sms">
      </label>
    </fieldset>
    <button type="submit">Оставить заявку</button>
  </form>
</section>
