<section class="section request" id="form" style="background-color: {{ 'var(--color-main-back)' if page.url === '/' else colors.background }}">
  <div class="section__content">
    <div class="request__container">
      <h2 class="text_h2">Заполните форму и обеспечьте своему ребенку успешную учебу уже сегодня!</h2>
      <form action="" class="form">
        <div class="form__content" style="--color-checked: {{ 'var(--main-accent)' if page.url === '/' else colors.accent }}">
          <label for="parent"  class="form__title text_main">Имя родителя</label>
          <input type="text" class="text_small" name="parent" id="parent" placeholder="Анастасия Андреевна">
          <label for="children"  class="form__title text_main">Имя ребенка</label>
          <input type="text" class="text_small" name="children" id="children" placeholder="Ксения">
          <label for="tel"  class="form__title text_main">Телефон</label>
          <input type="phone" class="text_small" name="parent" id="phone" required>
          <span class="form__title form__title_top text_main">Выберите направления</span>
          <div class="form__checkbox-container text_small">
            {% for direction in collections.directions %}
              <input type="checkbox" name="direction" value="{{ direction.fileSlug }}" id="{{ direction.fileSlug }}" {{'checked' if direction.url === page.url}}>
              <label class="form__checkbox" for="{{ direction.fileSlug }}">
                {{ direction.data.title }}
              </label>
            {% endfor %}
          </div>
          <span class="form__title form__title_top text_main">Выберите способ связи</span>
          <div class="form__checkbox-container form__checkbox-container_mobile-one-row text_small">
            <input type="checkbox" name="connect" value="telegram" id="telegram">
            <label class="form__checkbox" for="telegram">
        telegram

      </label>
            <input type="checkbox" name="connect" value="whatsup" id="whatsup">
            <label class="form__checkbox" for="whatsup">
        whatsApp

      </label>
            <input type="checkbox" name="connect" value="sms" id="sms">
            <label class="form__checkbox" for="sms">
        sms

      </label>
          </div>

        </div>
        <div class="form__submit-block">
          <button type="submit" class="form__submit">
            {% from 'macros/animated-button.njk' import animatedButton %}
            {{ animatedButton(
            text='Оставить заявку'
          ) }}
          </button>
          <span class="form__error-mes text_main"></span>
        </div>

      </form>

    </div>
    <div class="request__succes">
      <picture class="request__succes-img">
        <img src="/img/photos/sticker_mama.webp" alt="Фотография Юлии">
      </picture>
      <h2 class="request__succes-text text_h1">
        Cкоро я свяжусь с Вами,
        и мы вместе узнаем что-то новое
      </h2>
    </div>
  </div>

</section>