<section class="reviews">
  <h2 class="reviews__header">
    «Учитель – человек, который может делать трудные вещи лёгкими» Ральф Эмерсон
  </h2>
  <div class="swiper slider" role="region" aria-label="Отзывы" tabindex="0">
    <ul class="swiper-wrapper slider__container" >
      {% for comment in comments %}
        <li class="swiper-slide slider__elem">
          <div class="comment">
            <span class="comment__author">{{- comment.author -}}</span>
            <p class="comment__text">
              {{- comment.text -}}
            </p>
            <div class="comment__direction-container" >
              {% for direct in comment.directs %}
                <span class="comment__direction" style="background-color: var(--color-{{ direct }}-back">{{- directions[direct].name -}}</span>
              {% endfor %}
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
    <ul class="slider__controls" aria-label="Контролы галереи">
      <li>
        <button id="previous" class="slider__button swiper-button-prev" aria-label="Предыдущий">
          <svg aria-hidden="true" focusable="false" width="16" height="24">
            <use href="/img/icons.svg#arrow-previous"/>
          </svg>
        </button>
      </li>
      <li>
        <button id="next" class="slider__button swiper-button-next" aria-label="Следующий">
          <svg aria-hidden="true" focusable="false" width="16" height="24">
            <use href="/img/icons.svg#arrow-next"/>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
