<div class='section video'>
  <div class="section__container video__sticky-container">
    <div class="section__content video__sticky">
      <div class="video__container">
        <video
    muted
    loop
    playsinline
    preload="none"
    autoplay
    src="{{ video.video }}"
    ></video>
        <div class="video__scrim"></div>
      </div>
    </div>

  </div>
  <div class="section__content video__content">
    <p class="video__par text_benefit">
      {{ video.text | spaned | safe }}
    </p>
  </div>
</div>