.anchors__list {
  display: flex;
  list-style: none;
  gap: 40px;
  margin: 0;
  padding: 0;
}
.anchors__link {
  text-decoration: none;
  color: var(--color-text-primary);
  transition: all 0.2s ease-in;
}
.anchors__link:hover {
  transform: translateY(-4px);
}

/* df */
@media (max-width: 1023px) {
  .anchors {
    display: none;
  }
}
