.benefit {
  display: flex;
  flex-direction: column;
}

.benefit__title-number {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

/* df */
@media (max-width: 639px) {
  .benefit {
    flex-direction: row;
    gap: 32px;
    align-items: center;
    justify-content: center;
    padding: 16px 12px;
    background-color: var(--white);
    box-shadow: 0px 0px 50px rgba(0, 91, 111, 0.1);
    border-radius: 10px;
  }
  .benefit__discription {
    width: 92px;
  }
}
