.comment {
  box-shadow: 0px 0px 38px rgba(129, 172, 181, 0.2);
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding: 40px 32px;
  display: flex;
  flex-direction: column;
}

.comment__author {
  color: var(--color-text-secondary);
}

.comment__text {
  color: var(--color-text-primary);
  white-space: initial;
  margin-top: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.comment__text_show {
  -webkit-line-clamp: unset;
}

.comment__show-more-button {
  margin-top: 16px;
  text-decoration: underline;
  color: var(--color-text-secondary);
  transition: all 0.2s ease-in;
  border: none;
  background-color: transparent;
  display: inline;
  padding: 0;
  width: max-content;
  cursor: pointer;
  margin-bottom: 32px;
}

.comment__show-more-button_hidden {
  visibility: hidden;
}

.comment__show-more-button:hover {
  color: var(--color-text-primary);
}

.comment__direction-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: auto;
}

.comment__direction {
  color: var(--color-text-primary);
  padding: 8px 16px;
  background-color: var(--color-reading-back);
  border-radius: 20px;
}

/* df */
@media (max-width: 639px) {
  .comment {
    padding: 32px 16px;
  }
}
