.container {
  --container-width: 1320px;

  padding-inline: calc((100% - var(--container-width)) / 2);
}

@media (min-width: 767px) and (max-width: 1535px) {
  .container {
    padding-inline: 72px;
  }
}

@media (max-width: 768px) {
  .container {
    padding-inline: 20px;
  }
}
