.direction-starter {
  --starter-count-columns: 6;
  padding: 52px 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  width: 100%;
}

.direction_starter__container {
  margin: 0 auto;
  width: calc(
    (var(--grid-column-widht) * var(--starter-count-columns)) +
      (var(--grid-gutter) * (var(--starter-count-columns) - 1))
  );
  display: flex;
  flex-direction: column;
  align-items: center;
}

.direction-starter__header {
  margin-bottom: 16px;
  font-size: var(--font-size-h1);
}

.direction-starter__discrip {
  text-align: center;
  font-size: var(--font-size-text-main);
}

.direction-starter__button {
  margin-top: 56px;
}

/* sm */
@media (min-width: 640px) and (max-width: 767px) {
  .direction-starter__button {
    margin-top: 24px;
  }
}

/* df */
@media (max-width: 639px) {
  .direction-starter {
    --starter-count-columns: 2;
  }
  .direction-starter__button {
    margin-top: 24px;
  }
}
