.directions {
  background: var(--color-reading-back);
  transition: all 0.6s linear;
  position: relative;
}

.directions__header {
  text-align: center;
  color: var(--color-text-primary);
  font-size: var(--font-size-h2);
  font-weight: 400;
  margin-bottom: 40px;
}

.directions__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  height: 100vh;
}

.directions__content {
  flex-basis: 344px;
  flex-grow: 1;
}

.directions__age {
  font-family: var(--color-text-primary);
  font-size: var(--font-size-text-main);
  margin-bottom: 8px;
}

.directions__title {
  font-family: var(--color-text-primary);
  font-size: var(--font-size-h3);
  margin-bottom: 32px;
}

.directions__screen-wrapper {
  height: 100vh;
  width: 100%;
  position: sticky;
  top: 0;
  pointer-events: none;
}

.directions__screen {
  width: calc(
    (var(--grid-column-widht) * var(--directons-screen-count-columns)) +
      (var(--grid-gutter) * (var(--directons-screen-count-columns) - 1))
  );
  aspect-ratio: 5 / 5;
  background: var(--color-reading-accent);
  border-radius: 40px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  overflow: hidden;
  margin-right: ;
}

.directions__container {
  margin-top: -100vh;
}

.directions__image {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-out;
}

.directions__screen_mobile {
  position: relative;
  right: initial;
  top: initial;
  transform: initial;
}

/* 2xl */
@media (min-width: 1536px) {
  .directions__screen {
    --directons-screen-count-columns: 5;
    margin-right: 118px;
  }
  .directions__screen_mobile {
    display: none;
  }
  .directions__wrapper {
    padding-inline: 118px;
  }
}

/* xl */
@media (min-width: 1280px) and (max-width: 1535px) {
  .directions__screen_mobile {
    display: none;
  }
  .directions__screen {
    --directons-screen-count-columns: 5;
    margin-right: 96px;
  }
  .directions__wrapper {
    padding-inline: 96px;
  }
}

/* lg */
@media (min-width: 1024px) and (max-width: 1279px) {
  .directions__screen_mobile {
    display: none;
  }
  .directions__screen {
    --directons-screen-count-columns: 5;
    margin-right: 75px;
  }
  .directions__wrapper {
    padding-inline: 75px;
  }
}

/* md */
@media (min-width: 768px) and (max-width: 1023px) {
  .directions__screen {
    --directons-screen-count-columns: 4;
  }
  .directions__wrapper {
    padding-inline: 0;
    flex-direction: column;
    justify-content: center;
  }
  .directions__screen-wrapper {
    display: none;
  }
  .directions__content {
    text-align: center;
    align-items: center;
    flex-basis: initial;
    flex-grow: initial;
  }
  .directions__container {
    margin-top: 0;
    transform: initial;
  }
  .directions__screen {
    width: 60%;
  }
}

/* sm */
@media (min-width: 640px) and (max-width: 767px) {
  .directions__screen {
    --directons-screen-count-columns: 4;
  }
  .directions__wrapper {
    padding-inline: 0;
    flex-direction: column;
    justify-content: center;
  }
  .directions__screen-wrapper {
    display: none;
  }
  .directions__container {
    margin-top: 0;
    transform: initial;
  }
  .directions__content {
    text-align: center;
    align-items: center;
    flex-basis: initial;
    flex-grow: initial;
  }
  .directions__screen {
    width: 60%;
  }
}

/* df */
@media (max-width: 639px) {
  .directions__screen {
    --directons-screen-count-columns: 2;
  }
  .directions {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .directions__screen-wrapper {
    display: none;
  }
  .directions__header {
    margin-bottom: 24px;
  }
  .directions__wrapper {
    padding-inline: 0;
    flex-direction: column;
    justify-content: center;
  }
  .directions__container {
    margin-top: 0;
    transform: initial;
  }
  .directions__content {
    text-align: center;
    align-items: center;
    flex-basis: initial;
    flex-grow: initial;
  }
  .directions__screen {
    width: 100%;
  }
}
