.direction-numbers {
  padding: 37px 0;
}

.direction-numbers__container {
  display: flex;
  gap: var(--grid-gutter);
  flex-wrap: wrap;
}

.direction-numbers__container > * {
  flex: 1 1 0px;
}

/* md */
@media (max-width: 1023px) {
  .direction-numbers__container > * {
    flex: 1 1 calc((100% - var(--grid-gutter)) / 2);
  }
}

/* df */
@media (max-width: 639px) {
  .direction-numbers__container > * {
    flex: 1 1 100%;
  }
}
