.faq-block {
  cursor: pointer;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--main-accent);
}
.faq-block:not(:last-child) {
  margin-bottom: 32px;
}
.faq-block__question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-block__icon {
  border-radius: 50px;
  color: var(--color-main-back);
  border: 1px solid currentColor;
  transition: all ease 0.3s;
  display: flex;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}

.faq-block__answer {
  height: 0;
  overflow: hidden;
  transition: all ease 0.3s;
}
.faq-block__text {
  padding-top: 16px;
}
.faq-block__open .faq-block__icon {
  transform: rotate(45deg);
}

@media (hover: hover) and (pointer: fine) {
  .faq-block__icon:hover {
    background-color: currentColor;
  }
}
