.footer {
  padding-top: 56px;
  padding-bottom: 72px;
  display: flex;
  flex-basis: 576px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__title {
  flex-basis: 0;

  margin-bottom: 32px;
}
.footer__map {
  display: flex;
  flex-direction: column;
}
.footer__columns {
  display: flex;
  gap: 32px;
}

.footer__contacts-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: end;
  width: 350px;
}

.footer__about {
  margin-bottom: 24px;
}

.footer__side {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 260px;
}

.footer__link {
  color: var(--color-text-primary);
  transition: transform 0.2s ease-in;
}

.footer a:hover p {
  transform: translateY(-4px);
}

.footer__contacts .footer__link {
  padding: 6px 16px;
  border: 1px solid var(--color-text-secondary);
  border-radius: 100px;
  display: inline-block;
  width: max-content;
}

.footer__contacts .footer__link:hover {
  transform: translateX(-4px);
}

/* lg */
@media (min-width: 1024px) and (max-width: 1279px) {
  .footer__title {
    flex-basis: 100%;
  }
}

/* md */
@media (min-width: 768px) and (max-width: 1023px) {
  .footer__title {
    flex-basis: 100%;
  }
  .footer__contacts {
    flex-basis: 100%;
    margin-top: 32px;
  }
  .footer__contacts-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: initial;
  }
}

/* sm */
@media (min-width: 640px) and (max-width: 767px) {
  .footer__title {
    flex-basis: 100%;
  }
  .footer__contacts {
    flex-basis: 100%;
    margin-top: 32px;
    align-items: initial;
  }
  .footer__contacts-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: initial;
  }
}

/* df */
@media (max-width: 639px) {
  .footer__title {
    flex-basis: 100%;
  }
  .footer__contacts {
    flex-basis: 100%;
    margin-top: 40px;
  }
  .footer__columns {
    flex-direction: column;
    gap: 8px;
  }
  .footer__contacts-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: initial;
  }
}
