.form__content {
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: 16px;
  row-gap: 24px;
  width: fit-content;
}

.form_hidden {
  display: none;
}

.form__title {
  color: var(--color-text-primary);
  align-self: center;
}

.form__title_top {
  justify-self: end;
  align-self: start;
}

.form input[type="text"],
.form input[type="phone"] {
  border: none;
  border-bottom: 1px solid var(--color-text-secondary);
  padding: 8px 16px;
  width: min(300px, 100%);
  background-color: transparent;
}

.form input.form__input_error {
  border-bottom: 1px solid var(--color-error);
}

.form__submit-block {
  margin-top: 32px;
  display: flex;
  gap: 24px;
  align-items: center;
}

.form__error-mes {
  color: var(--color-error);
}

.iti--separate-dial-code .iti__selected-flag {
  background-color: transparent;
}

.form input[type="text"]::placeholder,
.form input[type="phone"]::placeholder {
  color: var(--color-text-secondary);
}

.form input[type="text"]:focus,
.form input[type="phone"]:focus {
  outline: none;
  border-bottom: 1px solid var(--color-main-accent-contrast);
}

.form__checkbox {
  color: var(--color-text-primary);

  border: 1.5px solid var(--color-text-secondary);
  border-radius: 40px;
  padding: 8px 16px 10px;
  display: inline-block;
  cursor: pointer;
  margin-right: 8px;
  margin-bottom: 8px;
  transition: all 0.2s ease;
}

.form__checkbox:hover {
  border-color: var(--color-text-primary);
}

.form__checkbox-container input[type="checkbox"]:checked + label {
  border-color: var(--color-checked);
  background-color: var(--color-checked);
  color: var(--color-text-primary);
}

.form__checkbox-container input[type="checkbox"]:focus-visible + label {
  outline-offset: 2px;
  outline-style: auto;
  outline-color: var(--color-main-accent-contrast);
}

.form__checkbox-new-row {
  width: 100%;
}

.form__checkbox-container input {
  position: absolute;
  opacity: 0;
}

.form__submit {
  border: none;
  background-color: transparent;
  white-space: nowrap;
}

.form__submit:focus-visible {
  outline: none;
}

.form__submit:focus-visible > * {
  outline-offset: 2px;
  outline-style: auto;
  outline-color: var(--color-main-accent-contrast);
}

/* df */
@media (max-width: 639px) {
  .form__content {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    padding-left: 0;
    margin-top: initial;
  }
  .form__title {
    align-self: flex-start;
    margin-bottom: 16px;
    margin-top: 24px;
  }
  .form input[type="text"],
  .form input[type="phone"] {
    width: 100%;
  }
  .form__checkbox-new-row {
    display: none;
  }
  .form__checkbox {
    text-align: center;
  }
  .form__checkbox-container_mobile-one-row {
    display: flex;
    flex-wrap: initial;
  }
  .form__submit {
    margin-left: 0;
    width: 100%;
  }
  .form_hidden {
    display: none;
  }
  .form__submit-block {
    margin-top: 32px;
    display: flex;
    flex-direction: column-reverse;
    gap: 16px;
    align-items: flex-start;
  }
}
