.phase__number {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.phase__header {
  margin-bottom: 8px;
}

.phase__discription {
  padding: 24px 16px;
  box-shadow: 0px 0px 50px rgba(0, 91, 111, 0.1);
  border-radius: 10px;
  flex-grow: 1;
}

.phase {
  opacity: 0;
  display: flex;
  flex-direction: column;
}

.phase.animation {
  animation-name: phase_show;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
  animation-delay: calc(0.2 * var(--list-item-index));
}

/* df */
@media (max-width: 639px) {
  .phase {
    padding: 24px 16px;
    box-shadow: 0px 0px 50px rgba(0, 91, 111, 0.1);
  }
  .phase__title {
    display: flex;
    align-items: flex-end;
  }
  .phase__discription {
    box-shadow: none;
    padding: 0;
    margin-top: 8px;
  }
  .phase__header {
    margin-bottom: 4px;
    margin-left: 8px;
  }
  .phase.animation {
    animation-delay: calc(var(--list-item-index) * 0.1);
  }
}
@keyframes phase_show {
  0% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
