.prise__sum {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.prise__content {
  display: flex;
  padding: 0px 0 52px 0;
  margin: 0 auto;
  justify-content: center;
  gap: 80px;
}

.prise__left {
  text-align: center;
}

.prise__right {
  display: flex;
  justify-content: end;
  flex-direction: column;
}

.prise__discrip {
  color: var(--color-text-primary);
}

.prise__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.prise__item {
  display: flex;
  align-items: center;
}

.prise__icon {
  height: 40px;
}

.prise__text {
  margin-left: 12px;

  color: var(--color-text-primary);
}

/* md */
@media (min-width: 768px) and (max-width: 1023px) {
  .prise__content {
    flex-direction: column;
    gap: 40px;
  }
  .prise__list {
    width: max-content;
    margin: 0 auto;
  }
}

/* sm */
@media (min-width: 640px) and (max-width: 767px) {
  .prise__content {
    flex-direction: column;
    gap: 40px;
  }
  .prise__list {
    width: max-content;
    margin: 0 auto;
  }
}

/* df */
@media (max-width: 639px) {
  .prise__content {
    flex-direction: column;
    padding: 0 0;
    gap: 24px;
  }
  .prise__list {
    margin: 0 auto;
    gap: 16px;
  }
  .prise__icon {
    height: 32px;
  }

  .prise__icon svg {
    height: 32px;
    width: 32px;
  }
}
