.reviews {
  padding-top: 52px;
  padding-bottom: 52px;
}

.reviews__header {
  text-align: left;
  color: var(--color-text-primary);
  font-size: var(--font-size-h2);
  font-weight: 400;
  margin-bottom: 40px;
  margin-left: 72px;
  margin-right: 72px;
}
/* sm */
@media (min-width: 640px) and (max-width: 767px) {
  .reviews__header {
    margin-left: 20px;
    margin-right: 20px;
  }
}
/* df */
@media (max-width: 639px) {
  .reviews {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .reviews__header {
    margin-bottom: 24px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
