.slider {
  overflow: hidden;
}

.slider__container {
  padding: 24px 0;
  margin: 0;
}

.slider__elem {
  width: calc(
    (var(--grid-column-widht) * var(--comment-count-columns)) +
      (var(--grid-gutter) * (var(--comment-count-columns) - 1))
  );
  display: inline-block;
  height: 422px;
}

.slider__controls {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 24px;
  justify-content: center;
}

.swiper-button-prev {
  padding: 24px 30px 20px 26px;
}

.swiper-button-next {
  padding: 24px 26px 20px 30px;
}

.slider__button {
  background-color: transparent;
  border-radius: 50px;
  border: 1px solid var(--color-main-back);
  cursor: pointer;
}

@media (min-width: 1536px) {
  .slider__elem {
    --comment-count-columns: 6;
    --slider__elem-cc-gap: 1;
  }
}

/* xl */
@media (min-width: 1280px) and (max-width: 1535px) {
  .slider__elem {
    --slider__elem-cc-gap: 1;
    --comment-count-columns: 6;
  }
}

/* lg */
@media (min-width: 1024px) and (max-width: 1279px) {
  .slider__elem {
    --slider__elem-cc-gap: 1;
    --comment-count-columns: 6;
  }
}

/* md */
@media (min-width: 768px) and (max-width: 1023px) {
  .slider__elem {
    --slider__elem-cc-gap: 0;
    --comment-count-columns: 4;
  }
}

/* sm */
@media (min-width: 640px) and (max-width: 767px) {
  .slider__elem {
    --slider__elem-cc-gap: 0;
    --comment-count-columns: 4;
  }
}

/* df */
@media (max-width: 639px) {
  .slider__elem {
    --slider__elem-cc-gap: 0;
    --comment-count-columns: 2;
  }
}
