{% macro benefit(text, color) %}
  <div class="benefit" style="border-color: {{ color }}">
    <div class="benefit__icon" style="background-color: {{ color }}">
      <svg aria-hidden="true" focusable="false" width="17" height="13">
        <use href="/img/icons.svg#check"/>
      </svg>
    </div>
    <div class="benefit__text text_big">{{ text }}</div>
  </div>
{% endmacro %}