{% macro faqBlock(question, answer, lineColor, iconColor) %}
  <div class="faq-block" style="border-color: {{ lineColor }}">
    <div class="faq-block__question">
      <h3 class="text_main">{{ question }}</h3>
      <button class="faq-block__icon" style="color: {{ iconColor }}">
        <svg aria-hidden="true" focusable="false" width="48" height="48">
          <use href="/img/icons.svg#plus"/>
        </svg>
      </button>
    </div>
    <div class="faq-block__answer text_main">
      <p class="faq-block__text">{{ answer }}</p>
    </div>
  </div>
{% endmacro %}