:root {
  --color-main-back: #cfe5ff;
  --color-text-primary: #271100;
  --color-media-background: #000000a4;
  --color-text-secondary: #676666;
  --color-error: #e82c2c;
  --color-main-accent-contrast: #0e6ee0;
  --color-main-linear: linear-gradient(0, #0e6ee0 0%, #0e6ee0 100%);
  --color-main-accent-noncontrast: rgba(207, 229, 255, 0.3);
  --color-white-75: rgba(255, 255, 255, 0.75);
  --white: #fff;
  --main-accent: #a3cdff;
}
