@font-face {
  font-display: swap;
  font-weight: 400;
  font-family: "SFProDisplay";
  font-style: normal;
  src: url("/fonts/SFProDisplay-regular.woff2") format("woff2"),
    url("/fonts/SFProDisplay-regular.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-weight: 500;
  font-family: "SFProDisplay";
  font-style: normal;
  src: url("/fonts/SFProDisplay-medium.woff2") format("woff2"),
    url("/fonts/SFProDisplay-medium.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-weight: 400;
  font-family: "Concrete";
  font-style: normal;
  src: url("/fonts/concrete-regular.woff2") format("woff2"),
    url("/fonts/concrete-regular.woff") format("woff");
}

:root {
  --font-family-text: SFProDisplay, sans-serif;
  --font-family-header: Concrete, sans-serif;
  --font-family-header-secondary: SFProDisplay, sans-serif;
}

.text {
  color: var(--primary);
  line-height: 130%;
}

.text_h1 {
  font-family: var(--font-family-header);
  font-weight: 400;
  text-transform: uppercase;
  color: var(--primary);
  line-height: 130%;
}

.text_h2 {
  font-family: var(--font-family-header);
  font-weight: 400;
  text-transform: uppercase;
  color: var(--primary);
  line-height: 130%;
}

.text_h3 {
  font-family: var(--font-family-header-secondary);
  font-weight: 500;
  color: var(--primary);
  line-height: 130%;
}

.text_big {
  font-family: var(--font-family-text);
  font-weight: 400;
  color: var(--primary);
  line-height: 130%;
}

.text_main {
  font-family: var(--font-family-text);
  font-weight: 400;
  color: var(--primary);
  line-height: 130%;
}

.text_small {
  font-family: var(--font-family-text);
  font-weight: 400;
  color: var(--primary);
  line-height: 130%;
}

.text_number {
  font-family: var(--font-family-text);
  font-weight: 500;
  color: var(--primary);
  line-height: 130%;
}

.text_benefit {
  font-family: var(--font-family-text);
  font-weight: 500;
  line-height: 120%;
  color: var(--primary);
}

/* 2xl */
@media (min-width: 1536px) {
  .text_h1 {
    font-size: 34px;
    letter-spacing: 0.05em;
  }
  .text_h2 {
    font-size: 32px;
    letter-spacing: 0.1em;
  }
  .text_h3 {
    font-size: 26px;
    letter-spacing: 0.05em;
  }
  .text_big {
    font-size: 28px;
    letter-spacing: 0.05em;
  }
  .text_main {
    font-size: 24px;
  }
  .text_small {
    font-size: 20px;
  }
  .text_number {
    font-size: 120px;
  }
  .text_benefit {
    font-size: 70px;
  }
}

/* xl */
@media (min-width: 1280px) and (max-width: 1535px) {
  .text_h1 {
    font-size: 30px;
    letter-spacing: 0.05em;
  }
  .text_h2 {
    font-size: 28px;
    letter-spacing: 0.1em;
  }
  .text_h3 {
    font-size: 24px;
    letter-spacing: 0.05em;
  }
  .text_big {
    font-size: 24px;
    letter-spacing: 0.05em;
  }
  .text_main {
    font-size: 20px;
  }
  .text_small {
    font-size: 16px;
  }
  .text_number {
    font-size: 120px;
  }
  .text_benefit {
    font-size: 64px;
  }
}

/* lg */
@media (min-width: 1024px) and (max-width: 1279px) {
  .text_h1 {
    font-size: 26px;
    letter-spacing: 0.02em;
  }
  .text_h2 {
    font-size: 24px;
    letter-spacing: 0.1em;
  }
  .text_h3 {
    font-size: 22px;
    letter-spacing: 0.05em;
  }
  .text_big {
    font-size: 20px;
    letter-spacing: 0.05em;
  }
  .text_main {
    font-size: 18px;
  }
  .text_small {
    font-size: 14px;
  }
  .text_number {
    font-size: 120px;
  }
  .text_benefit {
    font-size: 56px;
  }
}

/* md */
@media (min-width: 768px) and (max-width: 1023px) {
  .text_h1 {
    font-size: 26px;
    letter-spacing: 0.02em;
  }
  .text_h2 {
    font-size: 24px;
    letter-spacing: 0.1em;
  }
  .text_h3 {
    font-size: 22px;
    letter-spacing: 0.05em;
  }
  .text_big {
    font-size: 20px;
    letter-spacing: 0.05em;
  }
  .text_main {
    font-size: 18px;
  }
  .text_small {
    font-size: 14px;
  }
  .text_number {
    font-size: 120px;
  }
  .text_benefit {
    font-size: 40px;
  }
}

/* sm */
@media (min-width: 640px) and (max-width: 767px) {
  .text_h1 {
    font-size: 26px;
    letter-spacing: 0.02em;
  }
  .text_h2 {
    font-size: 24px;
    letter-spacing: 0.1em;
  }
  .text_h3 {
    font-size: 22px;
    letter-spacing: 0.05em;
  }
  .text_big {
    font-size: 20px;
    letter-spacing: 0.05em;
  }
  .text_main {
    font-size: 18px;
  }
  .text_small {
    font-size: 14px;
  }
  .text_number {
    font-size: 120px;
  }
  .text_benefit {
    font-size: 36px;
  }
}

/* df */
@media (max-width: 639px) {
  .text_h1 {
    font-size: 22px;
  }
  .text_h2 {
    font-size: 22px;
    letter-spacing: 0.02em;
  }
  .text_h3 {
    font-size: 21px;
    letter-spacing: 0.05em;
    line-height: 130%;
  }
  .text_big {
    font-size: 18px;
    letter-spacing: 0.05em;
  }
  .text_main {
    font-size: 18px;
  }
  .text_small {
    font-size: 16px;
  }
  .text_number {
    font-size: 68px;
    line-height: 100%;
  }
  .text_benefit {
    font-size: 24px;
  }
}
