@font-face {
  font-weight: 400;
  font-family: "SFProDisplay";
  font-style: normal;
  src: url("/fonts/SFProDisplay-regular.woff2") format("woff2"),
    url("/fonts/SFProDisplay-regular.woff") format("woff");
}

@font-face {
  font-weight: 500;
  font-family: "SFProDisplay";
  font-style: normal;
  src: url("/fonts/SFProDisplay-medium.woff2") format("woff2"),
    url("/fonts/SFProDisplay-medium.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "Concrete";
  font-style: normal;
  src: url("/fonts/concrete-regular.woff2") format("woff2"),
    url("/fonts/concrete-regular.woff") format("woff");
}

:root {
  --font-family-text: SFProDisplayt, sans-serif;
  --font-family-header: Concrete, sans-serif;
  --font-family-header-secondary: SFProDisplay, sans-serif;
}

/* 2xl */
@media (min-width: 1536px) {
  :root {
    --font-size-text-small: 20px;
    --font-size-text-main: 24px;
    --font-size-text-big: 28px;
    --font-size-text-benefit: 70px;
    --font-size-text-number: 120px;
    --font-size-h1: 40px;
    --font-size-h2: 36px;
    --font-size-h3: 32px;
    --font-size-number: 120px;
  }
}

/* xl */
@media (min-width: 1280px) and (max-width: 1535px) {
  :root {
    --font-size-text-small: 16px;
    --font-size-text-main: 20px;
    --font-size-text-big: 24px;
    --font-size-text-benefit: 64px;
    --font-size-text-number: 120px;
    --font-size-h1: 36px;
    --font-size-h2: 32px;
    --font-size-h3: 28px;
    --font-size-number: 120px;
  }
}

/* lg */
@media (min-width: 1024px) and (max-width: 1279px) {
  :root {
    --font-size-text-small: 14px;
    --font-size-text-main: 18px;
    --font-size-text-big: 20px;
    --font-size-text-benefit: 56px;
    --font-size-text-number: 120px;
    --font-size-h1: 28px;
    --font-size-h2: 26px;
    --font-size-h3: 24px;
    --font-size-number: 120px;
  }
}

/* md */
@media (min-width: 768px) and (max-width: 1023px) {
  :root {
    --font-size-text-small: 14px;
    --font-size-text-main: 18px;
    --font-size-text-big: 20px;
    --font-size-text-benefit: 40px;
    --font-size-text-number: 120px;
    --font-size-h1: 28px;
    --font-size-h2: 26px;
    --font-size-h3: 24px;
    --font-size-number: 120px;
  }
}

/* sm */
@media (min-width: 640px) and (max-width: 767px) {
  :root {
    --font-size-text-small: 14px;
    --font-size-text-main: 18px;
    --font-size-text-big: 20px;
    --font-size-text-benefit: 36px;
    --font-size-text-number: 120px;
    --font-size-h1: 28px;
    --font-size-h2: 26px;
    --font-size-h3: 24px;
    --font-size-number: 120px;
  }
}

/* df */
@media (max-width: 639px) {
  :root {
    --font-size-text-small: 14px;
    --font-size-text-main: 16px;
    --font-size-text-big: 16px;
    --font-size-text-benefit: 20px;
    --font-size-text-number: 80px;
    --font-size-h1: 26px;
    --font-size-h2: 20px;
    --font-size-h3: 18px;
    --font-size-number: 80px;
  }
}
