---
permalink: index.html
layout: base.njk
title: Сайт Юлии Михайленко
desc: Великолепное описание для сайта учителя
content:
  hello: Здравствуйте, меня зовут Юлия, и я могу стать вашим репетитором
---
{% include 'hello.njk' %}

{% include 'experience.njk' %}
{% include 'directions.njk' %}
{% include 'video.njk' %}
{% include 'reviews.njk' %}
{% include 'price-list.njk' %}
{% include 'request.njk' %}
{% include 'certificates.njk' %}