{% if colors.background %}
  {% set background = colors.background %}
{% else %}
  {% set background = '#cfe5ff' %}
{% endif %}

<!DOCTYPE html>
<html class="page" lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
    <link rel="mask-icon" href="/img/favicons/safari-pinned-tab.svg" color="#0e6ee0">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/styles/index.css">

    <meta name="description" content="{{ desc }}">
    <meta name="theme-color" content="{{ background }}">
    <meta name="yandex-verification" content="65f830eaa118cfbd"/>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" async >
      (function (m, e, t, r, i, k, a) {
        m[i] = m[i] || function () {
          (m[i].a = m[i].a || []).push(arguments)
        };
        m[i].l = 1 * new Date();
        for (var j = 0; j < document.scripts.length; j++) {
          if (document.scripts[j].src === r) {
            return;
          }
        }
        k = e.createElement(t),
        a = e.getElementsByTagName(t)[0],
        k.async = 1,
        k.src = r,
        a
          .parentNode
          .insertBefore(k, a)
      })(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

      ym(93428234, "init", {
        clickmap: true,
        trackLinks: true,
        accurateTrackBounce: true,
        webvisor: true
      });
    </script>
    <noscript>
      <div><img src="https://mc.yandex.ru/watch/93428234" style="position:absolute; left:-9999px;" alt=""/></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
    <script defer src="/scripts/index.js"></script>
  </head>
  <body style='outline-color: {{ colors.contrast }});'>
    {% include 'header.njk' %}
    <main>
      {{ content | safe }}
      {% include 'faq.njk' %}
    </main>
    {% include 'footer.njk' %}
  </body>
</html>