---
layout: base.njk
---

{% include 'direction-starter.njk' %}
{% for section in sections %}
  {% if section.name === 'benefits' %}
    {% include 'benefit-list.njk' %}
  {% elif section.name === 'statistics' %}
    {% include 'percent-list.njk' %}
  {% elif section.name === 'what' %}
    {% include 'subject-list.njk' %}
  {% elif section.name === 'numbers' %}
    {% include 'phase-list.njk' %}
  {% endif %}
{% endfor %}
{% include 'price-list.njk' %}
{% include 'request.njk' %}