---
layout: base.njk
title: Сайт Юлии Михайленко
desc: Великолепное описание для сайта учителя
pagination:
  data: directions
  size: 1
  alias: direct
permalink: directions/{{ direct }}/index.html
---
{% include 'direction-starter.njk' %}
